<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <form action="/auth/register", method="post">
        <input type="text" name="username" required id="register-username">
        <input type="password" name="password" required id="register-password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>