<nav>
  <div class="site-title">
    <a href="/">
      <h1>Bank of Ujwal</h1>
    </a>
    <p></p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/transaction/">Transactions</a></li>
    <li><a href="/user/register">Create User</a></li>
  </ul>
</nav>